.navbar{
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}

.navbar p{
  font-family: secondary-font, sans-serif;
  color: rgb(49, 49, 49);
  font-size: 20px;
}

.navbar-img{
  width: 160px;
}